.input-text.wcpp-input {
    padding: 0.6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: normal;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}

.woocommerce-Button.wcpp-btn--checkout {
    background: #2e8ab8;
    border: 1px solid #2e8ab8;
    cursor: pointer;
    color: white;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}
